
.hospital {
    background-image: url("WhatsApp\ Image\ 2022-06-28\ at\ 5.12.24\ PM.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: block 0;

}

.hospital h2 {
    text-align: center;
    color: rgb(9, 38, 125);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    padding: 30px;
}


a {
    
    font-size: 25px;
}

.box-container {
    position: absolute;
    top: 100PX;
    
    margin: 6px 150px;
    padding-top: 1px;
    display: table;
    box-sizing: border-box;
}

.box-container h2{
    text-align: center;
    color: rgb(9, 38, 125);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    padding: 30px;
}

.container{
    padding-left: 250px;
    vertical-align: middle;
    background-color: rgb(128, 171, 171);
    border-right: 20px solid rgb(255, 255, 255);
    border-left: 20px solid rgb(255, 255, 255);
}
.container button{
    width: 200px;
}
.container img{
    height: 200px;
    width: 200px;
}


.sec-1.prfile img{
    height: 150px;
    width: 200px;
}

.sec-1{
    
    padding: 5% ;
    padding-left: 190px;
    
}

.sec-1.profile-show{
    padding: auto;
}

.sec-1.profile{
    display: flex;
    text-align: left;
    border: 3px solid rgb(18, 16, 16);
}